.container {
  height: 100%;
  width: 225px;
  background-color: black;
  overflow: scroll;
}

.container ul {
  padding-left: 0px;
  margin-top: 8px;
}

.container h2 a {
  color: #C55D29;
  font-size: 29px;
  font-weight: 200;
  padding-left: 35px;
}

.container li {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 35px;
  font-size: 15px;
  background-color: black;
  position: relative;
}

.container ul li:last-child {
  border: none;
  height: 35px;
  width: 190px;
  padding: 0;
  padding-top: 9px;
  margin-left: 35px;
  margin-top: 2px;
  position: absolute;
  cursor: pointer;
}

.container a {
  opacity: initial;
}

.mixesUp {
  padding-top: 0px;
  font-size: 14px;
  width: 200px;
  text-align: right;
  position: absolute;
  transition: all .3s;
}
.mixesDrop {
  padding-top: 50px;
  font-size: 14px;
  width: 200px;
  text-align: right;
  position: absolute;
  transition: all .3s;
}

.dropdown-button {
  cursor: pointer;
}

.mixesDrop div {
  padding-bottom: 10px;
}
.mixesUp div {
  padding-bottom: 10px;
}
